<!DOCTYPE html>
<html ng-app="manage">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="author" content="hongyuan" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>综合评价- 后台管理</title>
	<!-- build:maincss -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />  
	<link rel="stylesheet" type="text/css" href="css/messenger.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-spinner.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-theme-air.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-theme-block.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-theme-flat.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-theme-future.css" />
	<link rel="stylesheet" type="text/css" href="css/messenger-theme-ice.css" /> 
	<!-- endbuild -->
</head>
<body  ng-controller="manageController">
 	<div class="header-blue">
 		<ul class="nav nav-tabs top-nav">
 			<li  ng-controller="termController">
 				<a class="dropdown-toggle" data-toggle="dropdown" ng-model="Term.name"> {{nowTerm.name}}<span class="caret"></span></a>
 				<ul class="dropdown-menu" role="menu">
 					<li ng-repeat="item in termList" ng-model="termList">
 						<a ng-click="changeTerm(item._id)">{{item.name}}</a>
 						<a class="act" ng-click="changeTermStatus(item._id,1)" ng-show="item.status != 1">激活</a> 
 						<a class="act" ng-click="changeTermStatus(item._id,0)" ng-show="item.status === 0">非激活</a>
 						<a class="act"  ng-class="{hide:!item.status}" ng-click="changeTermStatus(item._id,2)">关闭</a>
 						<a class="act" ng-click="modifyOneTerm(item._id)">编辑</a>
 					</li>
 					<li><a data-type="create" ng-click="createTerm($event)">新建学期</a></li>
 				</ul> 	

			 	<div class="modal fade" id="newTerm" tabindex="-1" role="dialog" aria-hidden="true">
			 		<div class="modal-dialog">	 		
			 			<div class="modal-content row">
			 				<div class="modal-header">
			 					<h4 class="modal-title">{{termModalTit}}</h4>
			 					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			 				</div>
			 				<div class="modal-body">
			 				<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="quotaGroupName" class="col-sm-3 control-label">学期名称：</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="quotaGroupName" placeholder="请输入学期名称" ng-model="modifyTerm.name">
									</div>
								</div>	
			 				</div>
							<div class="model-footer">
								<button type="button" class="btn btn-primary" ng-click="createNewTerm()">创建</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>	
						</form>		 				
			 			</div>
		 			
			 		</div>
			 	</div> 	 							
 			</li>
 			<li ng-class="{active:getMode()==='teacher'}" ng-click="switchMode('teacher')"><a>教师分组管理</a></li>
 			<li ng-class="{active:getMode()==='quota'}" ng-click="switchMode('quota')"><a >综评指标管理</a></li>
 			<li ng-class="{active:getMode()==='question'}" ng-click="switchMode('question')"><a>互评生评问卷管理</a></li>
 			<li ng-class="{active:getMode()==='relat'}" ng-click="switchMode('relat')"><a >互评关系管理</a></li>
 			<li ng-class="{active:getMode()==='student'}" ng-click="switchMode('student')"><a >学生信息管理</a></li>
 		</ul>
 		<div class="userinfo" ng-controller="userController">
 			<span>{{my.name}}</span>
 			<a ng-click="showManage()">授权管理</a>
 			<a ng-click="quitLogin()">退出</a>
 		</div>
 	</div>	
 	<div class="toolbar"  ng-controller="toolbarController">
 		<!--导入问卷-->
 		<div class="toolbar toolbar-import " ng-class="{hide:getMode()!=='question'}">
 			 <div class="toolbar-left">
 				<a class="dropdown-toggle" data-toggle="dropdown" ng-model="Term.name"> {{nowQuestion.name}}<span class="caret"></span></a>
 				<ul class="dropdown-menu" role="menu">
 					<li ng-repeat="item in questionList" ng-model="questionList">
 						<a ng-click="changeQuestion(item._id)">{{item.name}}</a>
 					</li>
 				</ul>  			 
 			 	<button type="button" class="btn btn-primary" ng-click="createQuestion()">创建问卷</button>
			 	<div class="modal fade" id="newQuestion" tabindex="-1" role="dialog" aria-hidden="true">
			 		<div class="modal-dialog">	 		
			 			<div class="modal-content row">
			 				<div class="modal-header">
			 					<h4 class="modal-title">创建问卷</h4>
			 					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			 				</div>
			 				<div class="modal-body">
			 				<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="quotaGroupName" class="col-sm-3 control-label">问卷名称{{questionName}}</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="questionName" placeholder="请输入问卷名称" />
									</div>
								</div>	
								<div class="form-group">
									<label for="quotaGroupName" class="col-sm-3 control-label">问卷序号</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="questionOrder" placeholder="请输入问卷序号"  />
									</div>
								</div>									
			 				</div>
							<div class="model-footer">
								<button type="button" class="btn btn-primary" ng-click="createNewQuestion()">创建</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>	
						</form>		 				
			 			</div>
		 			
			 		</div>
			 	</div> 	 			 	
 			</div>
 			<div class="toolbar-right">
 				<a>下载数据配置模板</a>
 				<button class="btn btn-default" >导入问卷数据</button>
 				<input type="file" id="importQuestion" class="import-btn" />
 			</div>
 		</div> 

 		<!--导入老师-->
 		<div class="toolbar toolbar-import"  ng-class="{hide:getMode()!=='teacher'}">
 			 <div class="toolbar-left">
 				<a class="dropdown-toggle" data-toggle="dropdown" ng-model="Term.name"> {{nowTeacherGroup.name}}<span class="caret"></span></a>
 				<ul class="dropdown-menu" role="menu">
 					<li ng-repeat="item in teacherGroup" ng-model="teacherGroup">
 						<a ng-click="changeTeacherGroup(item._id)">{{item.name}}</a>
 					</li>
 				</ul> 
 			</div>
 			<div class="toolbar-right">
 				<button class="btn btn-default" ng-click="import71">导入71用户数据</button>
 			</div>
 			<div class="toolbar-right">
 				<a>下载数据配置模板</a>
 				<button class="btn btn-default" >导入老师分组数据</button>
 				<input type="file" id="importTeacherGroup" class="import-btn" />
 			</div> 			
 			<div class="toolbar-right">
 				<a>下载数据配置模板</a>
 				<button class="btn btn-default" >导入老师数据</button>
 				<input type="file" id="importTeacher" class="import-btn" />
 			</div>
 		</div>  	

 		<!--导入学生-->
 		<div class="toolbar toolbar-import"  ng-class="{hide:getMode()!=='student'}">
 			 <div class="toolbar-left">
 			</div>
 			<div class="toolbar-right">
 				<a>下载数据配置模板</a>
 				<button class="btn btn-default" >导入学生数据</button>
 				<input type="file" id="importStudent" class="import-btn" />
 			</div>
 		</div>  	
 		<!-- 导入工具条-->
 		<div class="toolbar toolbar-import"  ng-class="{hide:getMode()!=='quota'}">
 			 <div class="toolbar-left">
				选择指标组：
				<div class="select-dom dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" ng-model="nowTerm">{{nowQuotaGroup.name}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="item in quotaGroupList"><a ng-click="selectQuotaGroup($index)">{{item.name}}</a></li>
					</ul>
				</div> 	
				指标组序号：{{nowQuotaGroup.order}}
				指标组权重：{{nowQuotaGroup.weight}}
				指标组总分：{{nowQuotaGroup.score}}

				<button class="btn btn-default" ng-click="editQuotaGroup()">编辑指标组</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#newQuotaGroup">新建指标组</button>
 			</div>
 			<div class="toolbar-right">
 				<a>下载数据配置模板</a>
 				<button class="btn btn-default" ng-click="importData()">导入指标</button>
 				<input type="file" id="importFile" class="import-btn" />
 			</div>
 		</div>  	

 		<div class="toolbar toolbar-import"  ng-class="{hide:getMode()!=='relat'}">
 			 <div class="toolbar-right">
 				<button class="btn btn-default" >导入数据</button>
 				<input type="file" id="importRelat" class="import-btn" />
		</div>
 	</div>

 	<div class="content">
 		<div class="content-report"  ng-class="{hide:getMode()!=='question'}" ng-controller="questionController">
 			<table class="table table-striped table-hover" ng-model='quotaGroupMap[nowQuotaGroup._id].indicators'>
 				<tr>
					<th ng-click="orderQuestion('order')" width="60">序号</th>
					<th ng-click="orderQuestion('name')" width="60">名称</th>
					<th ng-click="orderQuestion('score')" width="60">分值</th>
					<th ng-click="orderQuestion('gatherType')" width="60">说明</th>
 				</tr>
 				<tr ng-repeat= "item in nowQuestion.questions">
 					<td>{{item.order}}</td>
 					<td>{{item.name}}</td>
 					<td>{{item.score}}</td>
 					<td>{{item.desc}}</td>
 				</tr>
 			</table>
 		</div>

 		<div class="content-main"  ng-class="{hide:getMode()!=='teacher'}" ng-controller="teacherController">
 			<div class="content-list">
	 			<table class="table table-striped table-hover" ng-model='teacherGroup'>
	 				<tr>
						<th width="60">分组</th>
						<th width="60">成员数</th>
	 				</tr>
	 				<tr ng-repeat= "item in teacherGroup">
	 					<td>{{item.name}}</td>
	 					<td>{{item.teachers.length}}</td>
	 				</tr>
	 			</table>
 			</div>
 			<div class="content-info">
	 			<table class="table table-striped table-hover" ng-model='nowTeacherGroup.teachers'>
	 				<tr>
						<th width="60">id</th>
						<th width="60">老师名称</th>
	 				</tr>
	 				<tr ng-repeat="item in nowTeacherGroup.teachers">
	 					<td>{{item.id}}</td>
	 					<td>{{item.name}}</td>
	 				</tr>
	 			</table> 			
 			</div>
 		</div>

 		<div class="content-main" ng-controller="studentController"  ng-class="{hide:getMode()!=='student'}">
 			<div class="content-list">
 				<table class="table table-striped table-hover" ng-model='studentList'>
 					<tr>
 						<th ng-click="orderStudent('name')" width="60">姓名<span class="caret" ng-class="{uaret:studentOrder['name']}"></span></th>
 						<th ng-click="orderStudent('id')" width="60">id<span class="caret" ng-class="{uaret:studentOrder['id']}"></span></th>
 						<th ng-click="orderStudent('grade')" width="60">年级<span class="caret" ng-class="{uaret:studentOrder['grade']}"></span></th>
 						<th ng-click="orderStudent('class')" width="60">班级<span class="caret" ng-class="{uaret:studentOrder['class']}"></span></th>
 					</tr>
 					<tr ng-repeat="item in studentList ">
 						<td>{{item.name}}</td>
 						<td>{{item.id}}</td>
 						<td>{{item.grade}}年级</td>
 						<td>{{item.class}}班</td>
 					</tr>
 				</table> 	
 			</div>	
 		</div>

 		<div class="content-main"  ng-controller="quotaController"  ng-class="{hide:getMode()!=='quota'}">
 			<div class="content-list">
 				<table class="table table-striped table-hover" ng-model='quotaGroupMap[nowQuotaGroup._id].indicators'>
 					<tr>
 						<th ng-click="orderQuotaGroup('order')" width="60">序号<span class="caret" ng-class="{uaret:quotaOrder['order']}"></span></th>
 						<th ng-click="orderQuotaGroup('name')" width="60">指标名称<span class="caret" ng-class="{uaret:quotaOrder['name']}"></span></th>
 						<th ng-click="orderQuotaGroup('score')" width="60">分值<span class="caret" ng-class="{uaret:quotaOrder['score']}"></span></th>
 						<th ng-click="orderQuotaGroup('gatherType')" width="60">采集方式<span class="caret" ng-class="{uaret:quotaOrder['gatherType']}"></span></th>
 					</tr>
 					<tr ng-repeat="item in quotaGroupMap[nowQuotaGroup._id].indicators">
 						<td>{{item.order}}</td>
 						<td>{{item.name}}</td>
 						<td>{{item.score}}班</td>
 						<td>{{item.gatherType}}</td>
 					</tr>
 				</table>
 			</div> 	

		 	<div class="modal fade" id="newQuotaGroup" tabindex="-1" role="dialog" aria-hidden="true">
		 		<div class="modal-dialog">	 		
		 			<div class="modal-content row">
		 				<div class="modal-header">
		 					<h4 class="modal-title">新建指标组</h4>
		 					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 				</div>
		 				<div class="modal-body">
		 				<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="quotaGroupName" class="col-sm-3 control-label">指标组名称：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="quotaGroupName" placeholder="请输入指标组名称" ng-model="newQuotaGroup.name">
								</div>
							</div>	
							<div class="form-group">
								<label for="quotaGroupOrder" class="col-sm-3 control-label">指标组序号：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="quotaGroupOrder" placeholder="请输入指标组序号" ng-model="newQuotaGroup.order">
								</div>
							</div>	
							<div class="form-group">
								<label for="quotaGroupWeight" class="col-sm-3 control-label">指标组权重：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="quotaGroupWeight" placeholder="请输入指标组权重" ng-model="newQuotaGroup.weight">
								</div>
							</div>	
							<div class="form-group">
								<label for="quotaGroupScore" class="col-sm-3 control-label">指标组分值：</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="quotaGroupScore" placeholder="请输入指标组分值" ng-model="newQuotaGroup.score">
								</div>
							</div>
		 				</div>
						<div class="model-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createNewQuotaGroup()">创建</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>	
					</form>		 				
		 			</div>
	 			
		 		</div>
		 	</div> 				
 		</div>

 		<div class="content-report" ng-controller="relatController" ng-class="{hide:getMode() !== 'relat'}">
			<table class="table table-striped table-hover" ng-model='relatList'>
				<tr>
					<th width="60">用户名</th>
					<th width="60">姓名</th>
					<th width="60">生评</th>
					<th width="60" ng-repeat="item in relatTdList">
						{{item}}
					</th>
				</tr>
				<tr ng-repeat="item in relatList">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.student}}</td>
					<td ng-repeat="obj in item.teachers">
						{{obj.value}}
					</td>
				</tr>
			</table> 			
 		</div>

 		 	<div class="modal fade" id="authManage" tabindex="-1" role="dialog" aria-hidden="true">
		 		<div class="modal-dialog">	 		
		 			<div class="modal-content row">
		 				<div class="modal-header">
		 					<h4 class="modal-title">授权管理</h4>
		 					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 				</div>
		 				<div class="modal-body" style ="max-height:400px;overflow:auto;">
							<table class="table table-striped table-hover" ng-model='relatList'>
								<tr>
									<th >用户ID</th>
									<th >老师姓名</th>
									<th width="60">当前权限</th>
									<th >操作
									</th>
								</tr>
								<tr ng-repeat="item in userList">
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>
										<span ng-show="item.role===8">校长</span>
										<span  ng-show="item.role===4">数据管理员</span>
										<span ng-show="item.role===2">老师</span>
									</td>
									<td>
										<span ng-show="item.role !==2 " ng-click="setAuth(item.id,8,item._id)">设置为校领导</span>
										<span ng-show="item.role <1"  ng-click="setAuth(item.id,4,item._id)">设置为数据管理员</span>
										<span ng-show="item.role > 0"  ng-click="setAuth(item.id,2,item._id)">设置为老师</span>
									</td>
								</tr>
							</table> 		 					
		 				</div>
		 			</div>
	 			
		 		</div>
		 	</div> 	
 	</div>
 	<div ng-controller="msgController"></div>

	<!-- build:lib -->
 	<script src="js/lib/jquery/jquery-2.0.3.min.js"></script>
 	<script src="js/lib/underscore/underscore.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/messenger.min.js"></script>
	<script src="js/lib/angular/angular_1.2.6.js"></script>
	<!-- endbuild -->

	<!-- build:managejs -->
	<script src="js/constant/constant.js"></script>
	<script src="js/server/termServer.js"></script>
	<script src="js/server/importServer.js"></script>
	<script src="js/server/quotaServer.js"></script>
	<script src="js/server/studentServer.js"></script>
	<script src="js/server/teacherServer.js"></script>
	<script src="js/server/questionServer.js"></script>
	<script src="js/server/relatServer.js"></script>
	<script src="js/server/loginServer.js"></script>
	<script src="js/server/userServer.js"></script>
	<script src="js/server/utilServer.js"></script>

	<script src="js/controller/navController.js"></script>
	<script src="js/controller/termController.js"></script>
	<script src="js/controller/toolbarController.js"></script>
	<script src="js/controller/quotaController.js"></script>
	<script src="js/controller/studentController.js"></script>
	<script src="js/controller/teacherController.js"></script>
	<script src="js/controller/questionController.js"></script>
	<script src="js/controller/relatController.js"></script>

	<script src="js/controller/userController.js"></script>
	<script src="js/controller/manageController.js"></script>
	<script src="js/controller/msgController.js"></script>
	<script src="js/manage.js"></script>
	<!-- endbuild --> 
</body>
</html>